services:
  postgres:
    image: postgres:16
    container_name: postgres-prod
    restart: unless-stopped
    env_file:
      - ../.env
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
      TZ: UTC
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - backend
    command:
      - "postgres"
      - "-c"
      - "timezone=UTC"
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U appuser -d appdb"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@company.com
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "8080:80" # ⚠️ production: NÊN map vào internal/VPN, không public Internet
    networks:
      - backend
    volumes:
      - pgadmin-data:/var/lib/pgadmin
  minio:
    image: quay.io/minio/minio:latest
    container_name: minio-server
    ports:
      - "9000:9000" # Cổng API
      - "9001:9001" # Cổng Giao diện quản lý (Console)
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password123
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    restart: always
  redis:
    image: redis:alpine
    container_name: redis-cache
    ports:
      - "6379:6379"    # Cổng mặc định của Redis
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes --requirepass MySecurePassword123
    restart: always

volumes:
  postgres-data:
  pgadmin-data:
  minio_data:
  redis_data:

networks:
  backend:
    driver: bridge
